.access{
    min-height: 100vh;
    background: url(/background.png) no-repeat;
    display: flex;
    background-size: flex;
    align-items: center;
    justify-content: space-evenly;
}

.access .logo{
    width: max(20vw, 200px);
}

.access-form{
    background: white;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap:20px;
    border-radius: 10px;
}

.form-input{
    /* border: none; */
    padding: 3px;
    width: 300px;
    height: 40px;
    outline: none;
    font: 10px;
    border-radius: 8px;
    font-size: 15px;
    
}

.form-input::placeholder {
    padding-left: 7px;
}

button {
    background-color: #077EFF; /* Green background */
    border: none; /* No border */
    color: white; /* White text */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* No underline */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; /* Pointer/hand icon on hover */
    border-radius: 4px; /* Rounded corners */
}
  
button:hover {
background-color: #0063ce; /* Darker green background on hover */
}

.access-term{
    display: flex;
    gap: 5px;
}

.click{
    color: skyblue;
    cursor: pointer;
}

.access-toggle span{
    color: #87CEEB;
    cursor: pointer;
}

@media (max-width: 768px){
    .login{
        flex-direction: column;
        justify-content: center;
        gap:30px;
    }
}





